<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arma3LauncherLib" version="1.0.0-rc5" targetFramework="net462" />
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net462" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net462" />
  <package id="Serilog" version="2.4.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Literate" version="2.1.0" targetFramework="net462" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net462" />
  <package id="Splat" version="1.6.2" targetFramework="net462" />
  <package id="squirrel.windows" version="1.5.2" targetFramework="net462" />
  <package id="Unofficial.HockeySDK.Core" version="2017.0213.0222.10" targetFramework="net462" />
  <package id="Unofficial.HockeySDK.WPF" version="2017.0213.0222.10" targetFramework="net462" />
</packages>